Binaries
DerivedDataCache
Intermediate
Saved
Build
Content/FPS_Weapon_Bundle
Content/Assets/sA_PickupSet_1
Content/Assets/Interface_And_Item_Sounds

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace